* { box-sizing: border-box; }

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

html {
    height: 100%;
}

body {
    font: 1em 'Roboto', sans-serif;
    background-color: #fafafa;
    color: rgba(0,0,0,0.87);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-transition: 450ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: 450ms cubic-bezier(0.23, 1, 0.32, 1);
}

body.open-drawer {
    overflow: hidden;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 auto 0 24px;
}

h2 {
    padding: 0 24px;
}

.site-header {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    margin: 0;
    padding: 12px 24px 11px;
    height: 51px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.site-header .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
}

.site-header i {
    color: rgba(0,0,0,0.37);
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
}

.site-header i:hover {
    color: rgba(0,0,0,0.54);
}

.container {
    width: 900%;
    max-width: 780px;
    margin: 0 auto;
}

#TodoApp {
    max-width: 90%;
    margin: 1em auto;
}

#TodoList {

}

#TodoList h2 {
    border-bottom: 1px solid rgba(0,0,0,0.12);
    margin: 0;
    padding: 24px;
    font-weight: 400;
}

#TodoList h2 + .bottom {
    border-top: 0;
}


input[type="text"] {
    background-color: #fff;
    padding: 16px 24px;
    font: inherit;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.12);
}

input[type="checkbox"] {
    margin-right: 8px;
    display: none;
}

label {
    cursor: pointer;
}

label .checkbox-dummy {
    background-color: #fff;
    color: rgba(0,0,0,0.87);
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.12);
    vertical-align: middle;
    margin-right: 16px;
}

label .checkbox-dummy:before{
    content: "";
}

:checked + label .checkbox-dummy:before,
.completed .checkbox-dummy:before {
    content: "check";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    border-bottom: 1px solid rgba(0,0,0,0.12);
    position: relative;
    padding: 16px 24px;
    display: -webkit-box;
    display: flex;
    -webkit-transition: .2s;
    transition: .2s;
}
li:last-child {
    border: 0;
}

li:hover {
    background-color: #fafafa;
}

ul form {
    display: inline-block;
    width: 80%;
}

ul input[type="text"] {
    padding: 8px;
}

.todolist-wrapper {
    margin: 24px 0;
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 2px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

:checked + label + .content,
.completed .content {
    text-decoration: line-through;
    color: rgba(0,0,0,0.37);
}

.content {
    padding-right: 36px;
    -ms-grid-row-align: center;
        align-self: center;
}

.remove-item {
    font-size: 1.25rem;
    position: absolute;
    right: 24px;
    top: 16px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    color: rgba(0,0,0,0.37);
    -webkit-transition: .2s;
    transition: .2s;
}

.remove-item:hover {
    color: rgba(0,0,0,0.54);
}

.bottom {
    background-color: #f8f8f8;
    border-top: 1px solid rgba(0,0,0,0.12);
    color: rgba(0,0,0,0.54);
    font-size: .8rem;
    padding: 16px 24px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
}

.bottom .button {
    color: rgba(0,0,0,0.37);
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 2px;
    margin: 0px 4px;
    padding: 4px 8px;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
}

.bottom .button:hover {
    color: rgba(0,0,0,0.54);
    border-color: rgba(0,0,0,0.54);
}

#items-left {
    margin-right: auto;
}

#filter {
    display: -webkit-box;
    display: flex;
}

#filter.show-all .button:nth-of-type(1) {
    border-color: rgba(0,0,0,0.87);
    color: rgba(0,0,0,0.87);
}

#filter.show-active .button:nth-of-type(2) {
    border-color: rgba(0,0,0,0.87);
    color: rgba(0,0,0,0.87);
}

#filter.show-completed .button:nth-of-type(3) {
    border-color: rgba(0,0,0,0.87);
    color: rgba(0,0,0,0.87);
}

span.label {
    font-size: .8rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    padding:  6px 4px 0;
    border-radius: 2px;
    margin-left: auto;
    margin-right: 24px;
    opacity: .54;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
}

span.label:after {
    content: "";
    border-radius: 50%;
    background-color: tomato;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 9px;
    vertical-align: bottom;
}

.drawer {
    position: fixed;
    left: 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    top: 0;
    height: 100%;
    width: 256px;
    -webkit-transition: -webkit-transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: -webkit-transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, -webkit-transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-transform: translate(-266px, 0px);
            transform: translate(-266px, 0px);
    overflow: auto;
    z-index: 900;
}
.open-drawer .drawer {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
}


.drawer-title {
    border-bottom: 1px solid rgba(0,0,0,0.12);
    height: 52px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    padding: 24px 18px 24px 0;
}

#categories {
    margin-top: 48px;
}


#categories li {
    cursor: pointer;
    display: list-item;
    padding: 12px 24px;
    border: 0;
}

#categories li.active {
    background-color: #f8f8f8;
}

#add-list {
    display: inline-block;
    padding: 24px;
    text-decoration: none;
    color: rgba(0,0,0,0.54);
    font-size: .8rem;
}

#add-list:hover {
    color: rgba(0,0,0,0.87);
    text-decoration: underline;
}



#add-list:before {
    content: "add";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga';

    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
    margin-right: 4px;
}

#print,
#notifications {
    margin-left: 24px;
}

.cat-count {
    color: rgba(0,0,0,0.34);
    font-size: .8rem;
    margin-left: 8px;
}

.cat-remove {
    position: absolute;
    right: 12px;
    width: 24px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    color: rgba(0,0,0,0.34);
}


#categories li:hover .cat-remove {
    display: inline-block;
}

#search {
    margin-left: auto;
}


#notification-container {
    position: relative;
    display: -webkit-box;
    display: flex;
    cursor: pointer;
}

#notification-container .badge {
    position: absolute;
    top: -4px;
    right: -8px;
}

#notification-container span {
    background-color: #FF7800;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: .8rem;
    color: #fff;
    text-align: center;
    line-height: 21px;
}

.dropdown {
    color: rgba(0,0,0,0.34);
    position: absolute;
    top: 30px;
    background-color: #fff;
    right: -12px;
    min-width: 256px;
    min-height: 128px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: right top 0px;
            transform-origin: right top 0px;
    z-index: 1300;
}

.dropdown.show {
    -webkit-transition: opacity 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: opacity 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: transform 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: transform 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.dropdown ul {
    width: 100%;
}


@media screen and (min-width: 780px) {

    body {
        overflow: hidden;
    }

    body.open-drawer {
        padding-left: 256px;
    }

    #TodoApp {
        width: 90%;
        max-width: 780px;
        margin: 0 auto;
        padding-top: 72px;
    }

    #TodoList ul {
        overflow: auto;
        max-height: 65vh;
    }

    .remove-item {
        opacity: 0;
    }
    li:hover .remove-item {
        opacity: 1;
    }

    .cat-remove,
    #drawer-close {
        display: none;
    }
    .cat-remove:hover {
        color: initial;
    }
}

@media print {
    * {
        background-color: #fff !important;
        box-shadow: none !important;
        overflow: auto !important;
        max-height: none !important;
        max-width: none !important;
    }
    body {
        padding-left: 0 !important;
    }
    h1 {
        margin-left: 0 !important;
    }
    #print,
    .site-header,
    #drawer-open,
    #get-value,
    .drawer,
    .bottom {
        display: none !important;
    }
    .checkbox-dummy,
    .todolist-wrapper,
    li {
        border-color: rgba(0,0,0,0.5) !important;
    }
    ul {
        page-break-inside: auto;
    }
    li {
        page-break-inside: avoid;
        page-break-after: auto;
    }
}

